extends layout

block content
  main.container
    p.flex-item Welcome. I'm building this on Express to show off my web development skills. As you can probably see, I am not a colour theorist.
    img(src="./images/carbon.png" class="hero-image flex-item")
