extends layout

block content
  main.flex-container
    section.intro.flex-container
      h2 Greetings
      p.flex-item Welcome, this is my personal portfolio intended to collect things I've created on the internet.
    section.development.flex-container
      h2 Development
      p.flex-item My web development career is styled on the MEAN Stack.
      ul
        li  World of Warcraft Guild iLvl Lookup. Built before I knew what server-side code was.
          a(href="http://github.com/Taelkir/wow-ilvl-lookup") (Github)
        li  tombot, a bot for chat client. Built with Node and the Discord.js framework. 
          a(href="https://discordapp.com")  Discord  
          a(href="http://github.com/Taelkir/tombot")  (Github)
        li tomstanley.me ... This website!
          a(href="http://github.com/Taelkir/tomstanley.me")  (Github)
      img.hero-image.flex-item(src="./images/carbon.png")
    section.writing.flex-container
      h2 Writing
      p.flex-item I have professional experience writing website content in the business to business space, but in my spare time I like writing fiction as a hobby (which can be found
        a(href="https://tomstanleyfiction.wordpress.com") here
        | ).
    section.contact.flex-container
      h2 Contact me
      p.flex-item I can be found on a number of social media sites...
      ul
        li Twitter 
          a(href="https://twitter.com/tomstanley_") @tomstanley_
        li LinkedIn
          a(href="https://linkedin.com/in/tom-stanley-a041809b/") Tom Stanley
        li Ko-fi 
          a(href="https://ko-fi.com/T6T37XQ2") /tomstanley
