extends layout

block content
  main.flex-container-center
    section.intro
      .intro-content
        h2 Greetings
        p.flex-item Welcome, this is my personal portfolio intended to collect things I've created on the internet.
        .intro-img
          img.down-arrow(src="./images/arrow-down.svg")
    section.development.flex-container
      h2 Development
      p.flex-item My web development career is styled on the MEAN Stack.
      ul
        li  World of Warcraft Guild iLvl Lookup. Built before I knew what server-side code was. 
          a(href="http://github.com/Taelkir/wow-ilvl-lookup") (Github)
        li  tombot, a bot for chat client 
          a(href="https://discordapp.com") Discord
          | . Built with Node and the Discord.js framework. 
          a(href="http://github.com/Taelkir/tombot") (Github)
        li tomstanley.me ... This website! 
          a(href="http://github.com/Taelkir/tomstanley.me") (Github)
      img.hero-image.flex-item(src="./images/carbon.png")
    section.writing.flex-container
      h2 Writing
      p.flex-item I have professional experience writing website content in the business to business space, but in my spare time I enjoy writing fiction as a hobby.
        ul
          li.title For 
            a(href="https://www.alliescomputing.com") Allies Computing
          li
            a(href="https://www.alliescomputing.com/support/reduce-delivery-problems" rel="nofollow") Reducing delivery problems
          li
            a(href="https://www.alliescomputing.com/support/pitfalls-of-free-address-lookup" rel="nofollow") Avoiding the pitfalls of a free address lookup API
          li
            a(href="https://www.alliescomputing.com/support/international-ecommerce-checkout" rel="nofollow") How to design an international ecommerce checkout
          li
            a(href="https://www.alliescomputing.com/support/stopping-sign-ups-with-fake-email-addresses" rel="nofollow") How do I stop my site visitors signing up with fake email addresses? 
          li
            a(href="https://www.alliescomputing.com/support/premise-or-postcode-geodata" rel="nofollow") Premise level or postcode level co-ordinates? 
          li
            a(href="https://www.alliescomputing.com/support/irish-address-lookup-ux") Irish address lookup UX 
          li
            a(href="https://www.alliescomputing.com/research-and-analysis/sms-delivery-updates-the-rising-star") SMS Delivery Updates – The Rising Star 
        ul
          li.title For myself
            a(href="tomstanley.me") myself
          li
            a(href="https://tomstanleyfiction.wordpress.com") Fiction writing
    section.contact.flex-container
      h2 Contact me
      p.flex-item I can be found on a number of social media sites...
      ul
        li Twitter 
          a(href="https://twitter.com/tomstanley_") @tomstanley_
        li LinkedIn 
          a(href="https://linkedin.com/in/tom-stanley-a041809b/") Tom Stanley
        li Ko-fi 
          a(href="https://ko-fi.com/T6T37XQ2") /tomstanley
