nav
  ul
    li Development
    li Writing
    li Contact
  .name-prompt
    form(method="POST" action="/")
      legend.sr-only Enter your name to customise this page
      label(for="name") Enter your name here to become a web developer
      input(name="name" type="text" placeholder="Your name")
      button(type="submit" for="name") Submit
