@import "_sass-variables";

.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  display: flex;
  width: 100%;
  justify-content: center;
}

section {
  a {
    color: white;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}

li.title {
  font-weight: 900;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}
body {
  background-color: $body-background-colour;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1 0 auto;
}

section {
  width: 100%;
  text-align: center;
}

.intro {
  background-color: $hero-header-colour;
  height: 100vh;
}

.intro-img {
  margin: 50% auto;
}

.down-arrow {
  height: 100px;
  width: 150px;
  margin: auto;
}

.name-prompt form {
  display: flex;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
// Images

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.svg-icon {
  max-width: 30px;
  max-height: 30px;
}
