// Fonts
$font-stack-header:  "Oswald", Helvetica, Arial, sans-serif;
$font-stack-body: "Lucida Grande", Helvetica, Arial, sans-serif;

// Colours
$body-background-colour: dodgerblue;
$hero-header-colour: yellow;

// Background Images

$intro-background-image: "https://placeimg.com/1000/1000/people"
