@import "_sass-variables";

body {
  padding: 50px;
  font-family: $font-stack-body;
  background-color: hotpink;
}

a {
  color: #00B7FF;
}

header {
  font-family: $font-stack-header;
  letter-spacing: 10px;
  padding: 10px;
  text-align: center;
  background-color: yellow;
}

footer {
  background-color: lightgrey;
  padding: 10px;
  a {
    color: darkblue;
  }
}
